@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";



:root {
  font-family: "Inter", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --color-custom: #00519c;
}

.fullscreen-gallery .image-gallery-slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.fullscreen-gallery .image-gallery-content {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.fullscreen-gallery .image-gallery-slide-wrapper {
  height: 100vh;
}



